/* Importar as fontes "Poppins, Roboto e VT3223" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&family=VT323&display=swap");
/* Definiçoes globais de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

/* Remover a barra de scroll */
}
body::-webkit-scrollbar {
  display: none;
}
body{
  overflow-y: scroll;
}

/*Incio da Estilização da barra de navegação ecrã inteiro */
.container-nav {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-nav {
  margin-left: 2rem;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.right-nav li {
  display: inline-block;
  margin: 1.5rem;
}

.right-nav a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.right-nav a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.right-nav a:hover {
  color: #ffff2e;
  font-size: 2.3rem;
  transition: 0.5s all;
  text-shadow: 0px 0px 20px #ffff2e;
}
/*Fim da Estilização da barra de navegação ecrã inteiro */

/* Inicio da Estilização das cartas personagens */
.personagens-titulo{
    font-size: 5rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: #ffff2e;
}
.container-personagens{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1.8rem;
}
.card-personagem{
    text-align: center;
    flex: 1;
}

.flip{
  width: 150px;
}

.cara{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 346px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front img {
  width: 250px;
  border: 5px solid black;
  border-radius: 12px;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 12px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border: 5px solid black;
  border-radius: 12px;
}

.title-card{
  font-size: 2.7rem;
  color: #ffff2e;
  font-weight: 700;
}

.txt-card{
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}
/* Fim da Estilização das cartas personagens */