/* Importar as fontes "Poppins, Roboto e VT3223" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&family=VT323&display=swap");
/* Definiçoes globais de css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

/* Remover a barra de scroll */
}
body::-webkit-scrollbar {
  display: none;
}
body{
  overflow-y: scroll;
  height: 200vh;
}

/*Incio da Estilização da barra de navegação ecrã inteiro */
.container-nav {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-nav {
  margin-left: 2rem;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.right-nav li {
  display: inline-block;
  margin: 1.5rem;
}

.right-nav a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.right-nav a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.right-nav a:hover {
  color: #ffff2e;
  font-size: 2.3rem;
  transition: 0.5s all;
  text-shadow: 0px 0px 20px #ffff2e;
}

@media only screen and (max-width: 1245px) {
  .right-nav a, .right-nav a:hover {
    font-size: 1.5rem;
  } 
}


@media only screen and (max-width: 1070px) {
  .right-nav a, .right-nav a:hover {
    font-size: 1.0rem;
  }
}

@media only screen and (max-width: 1070px) {

  .container-nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 1 ;
  }
  .left-nav {
    text-align: center;
    border: 2px solid yellow;
    width: 100%;
    margin: 0;
  }

  .right-nav a:hover{
    font-size: 2rem;
  }
  .right-nav{
    align-items: center;
    justify-content: center;
    flex-grow: 5;
  }
  .right-nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .right-nav a{
    font-size: 2rem;  
  }
  
}
/*Fim da Estilização da barra de navegação ecrã inteiro */

/* Inicio da Estilização das cartas personagens */
.personagens-titulo{
    font-size: 5rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: #ffff2e;
}
.container-personagens{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin: 0px auto;
    justify-content: center;
}
.card-personagem{
    text-align: center;
    flex: 1;
}

.flip{
  width: 150px;
}

.cara{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 346px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.0s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front img {
  width: 250px;
  border: 5px solid black;
  border-radius: 12px;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 12px;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  background-color:black;
  background-position: center;
  background-size: contain;
  color: white;
  transform: rotateY(180deg);
  border: 5px solid black;
  border-radius: 12px;
  justify-content: start;
}

.title-card{
  font-size: 2rem;
  color: #ffff2e;
  font-weight: 700;
}

.txt-card{
  inline-size: 100px;
  overflow-wrap: break-word;
  line-height: 2.5rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  width: 250px;
  
}
/* Fim da Estilização das cartas personagens */

main{
  height: 100vh;
}


 main h1{
  font-size: 5rem;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
 }
 .perguntas{
  display: flex;
  justify-content: center;
 }
 .container-perguntas{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
  font-size: 2.5rem;
  gap: 2rem;
 }

select{
  margin-top: 4rem;
  font-size: 2rem;
} 
 option{
  font-size: 2rem;
 }

 button, input{
  width: 10%;
  height: 50%; 
  text-align: center;
  border-radius: 12px;
  font-size: 1.5rem;
  margin-top: 60px;
  box-shadow: 0px 12px 12px rgba(0,0,0,0.2);
  cursor: pointer;
 }

 .modal{
  z-index: 1;
  display: none;
  position: absolute;
  width: 100%;
  height: 50%;
  font-size: 6rem;
  text-align: center;
  background-color: #ffff2e;
 }

.score-value{
  font-size: 5rem;
  text-align: center;
 }

 .container-vidas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }

 .container-vidas img{
  max-width: 100px;
 }
